* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;

}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(66, 65, 65, .8), transparent);
    height: 10%;
    justify-content: space-between;
    left: 0;
    padding: 10px 15px;
    top: 0;
    width: 100%;
    z-index: 9999;

}

.header .logo {
    width: 183px;
    /* margin-top: -30px; */
    margin-left: -60px;
    padding-left: 55px;
    margin-top: 27px;
    justify-content: flex-end;
}
.main{
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.main .background-video {
    /* margin-top: -50px; */
    height: 100% ;
    /* min-height: 110vh; */
    min-width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
/* .main .background-video1 {
    
    height: 100% ;
    
    min-width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
} */
.bgvideo1-day.day-clear
{
    opacity: 1!important;
}
.bgvideo1-night.night-clear{
    opacity: 1!important;
}
.bgvideo1-dayy.day-rainny{
    opacity: 1!important;
}
.bgvideo1-nightt.night-rainny{
    opacity: 1!important;
    
}

.header__icon {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.header__icon i {
    color: #fff;
}

.header__icon a {
    color: #fff;
}

.header__icon:hover {
    cursor: pointer;
}

.header__icon--fullscreen {
    margin-left: 25px;

}
.header__icon--weather{
    position: relative;
}
.header__icon--weather .iconsun{
    position: absolute;
    top: 6px;
    left: 5px;
    font-size: 14px;
    z-index: 1;
}
.header__icon--weather .iconmoon{
    position: absolute;
    top: 6px;
    right: 26px;
    font-size: 14px;
    z-index: 1;
}
.header__icon--weather input {
    margin-right: 20px;
}

.header__icon--fullscreen i {

    font-size: 25px;
}

input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    background-color: #f3a952;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked {
    background-color: #101076;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: .5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

input[type="checkbox"]::before:hover{
    cursor: pointer;
}
input:checked[type="checkbox"]::before {
    right: 25px;
}
.main .icon--rain-container{
    position: absolute;
    top: 20%;
    left: 90%;
    color: #fff;
}
.main .icon--rain-container:hover{
    cursor: pointer;
}
.main .icon--rain-container i{
    font-size: 30px;
    border: 2px solid #fff;
    padding: 8px;
  border-radius: 25px;
}
